/* Ẩn thanh cuộn ngang nhưng vẫn cuộn được */
html {
  overflow-y: auto; /* Chỉ hiển thị thanh cuộn dọc */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

/* Tùy chỉnh thanh cuộn */
*::-webkit-scrollbar {
  width: 8px; /* Chiều rộng thanh cuộn dọc */
  height: 8px; /* Chiều cao thanh cuộn ngang */
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #333;
}
